$footer-min-height:    3rem;
$footer-padding-y:     $spacer * .5;
$footer-padding-x:     $spacer;
$footer-bg:            $gray-100;
$footer-color:         $body-color;
$footer-border-width:  1px;
$footer-border-color:  $border-color;
