@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,800&display=swap');

body {
  margin: 0;
  background-color: #101010;
}

.container {
  margin: 1rem;
  text-align: center;
}

.site-title {
  font-size: 2rem;
}